@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=M+PLUS+1:wght@400;500&family=Oswald:wght@300;400&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  /* border: 1px solid red; */
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 1px 3px 5px black;
  background-color: rgba(255, 0, 0, 0.658);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 0, 0.76);
}
.logo:hover {
  color: rgba(0, 0, 0, 0.705);
  text-decoration: underline;
}

.links {
  /* border: 1px solid blue; */
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.links a {
  transition: 0.3s ease-in-out;
  flex: 1;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 10px 15px;
  /* border: 1px solid green; */
}

.links a:hover {
  background-color: rgba(245, 245, 245, 0.63);
  border-radius: 10px;
  color: black;
  text-decoration: underline 3px;
}
